{% extends "base.html"%}

{% block content %}
   <h1>Clientes</h1>
   <a href="/clientes/nuevo">Agregar clientes</a>
   <a href="/clientes/importar">Importar CSV</a><br><br>

   <table>
       <thead>
           <tr>
               <th>Nombre</th>
               <th>Email</th>
               <th>Acciones</th>
           </tr>
       </thead>
       <tbody>
           {% for cliente in clientes %}
               <tr>
                   <td><a href="/clientes/{{ cliente[0] }}">{{ cliente[1] }}</a></td>
                   <td>{{ cliente[2] }}</td>
                   <td>
                       <a href="/clientes/{{ cliente[0] }}/editar">Editar</a>
                       <form method="POST" action="/clientes/{{ cliente[0] }}/eliminar" style="display:inline">
                           <input type="submit" value="Eliminar">
                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                       </form>
                   </td>
               </tr>
           {% endfor %}
       </tbody>
   </table>
{% endblock %}